.signUpModal {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.signUpLabels {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.signUpButton {
    margin-top: 15px;
    height: 30px;
    background-color: #f9d03b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0 0;
    cursor: pointer;
}

.signUpButton:active {
    box-shadow: none;
}
