* {
  padding: 0;
  margin: 0
}

.profile-dropdown {
  position: absolute;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #5BC5A6;
  border: #5BC5A6 solid 2px;
  width: 100%;
}
