.createExpenseMain {
    display: flex;
    justify-content: center;
}

.createExpenseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px   ;
}



.categoryHolder {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 130px;
    align-items: center;
}

.categoryOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 120px;
    border: #50c2a0 solid 1px;
    gap: 10px;
    color: white;
    background-color: #5BC5A6;
    border-radius: 8px;
    box-shadow: 0 0 0 3px #43947c;
}

.categoryOption:hover {
    cursor: pointer;
    padding: 10px;
}
